.forms {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 1176px;
    padding: 24px 16px;

    @media screen and (max-width:840px){
        width: 100%;
    }

    margin: 0 auto;

    input {
        width: 890px;
        border: 1px solid #878787;
        padding: 12px 16px;
        border-radius: 8px;
        font-size: 18px;
    }

    button {
        background-color: #E11138;
        width: 234px;
        font-size: 22px;
        font-weight: bold;
        padding: 4px 24px;
        color: white;
        margin-left: 16px;
        border-radius: 8px;
        cursor: pointer;

    }
}