.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    @media screen and (max-width:840px) {
        width: 100%;
        padding: 0 16px;

    }

    .icons {
        display: flex;
        justify-content: space-between;
        max-width: 1048px;
        width: 100%;
        margin: 0 auto;
        height: 76px;
        align-items: center;
        margin-bottom: 40px;

        &__painel {
            border: 1px solid gray;
            padding: 8px;
            border-radius: 8px;
            color: black;
            margin-left: 16px;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                background-color: #E11138;
                color: white;
                transition: all ease .5s;
            }
        }

        button {
            background-color: green;
            color: white;
            padding: 8px;
            border-radius: 8px;
            cursor: pointer;
        }
    }

}