.container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 32px;

    @media screen and (max-width:480px) {
        width: 90%;
    }

    &__upload {
        display: flex;
        background-color: white;
        padding: 8px;
        height: 162px;
        border-radius: 8px;

        ul {
            display: grid;
            grid-template-columns: repeat(6, 150px);

            li {
                padding: 0 8px 16px 8px;


                img {
                    height: 100%;
                    width: 100%;
                    margin-bottom: 32px;
                }
            }
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            height: 145px;
            width: 228px;
            cursor: pointer;

        }

        input {
            position: absolute;
            cursor: pointer;
            opacity: 0;
        }
    }

    .forms {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        margin: 32px 0;

        @media screen and (max-width:480px) {
            width: 100%;
        }

        &__inputAge {
            display: flex;
            column-gap: 28px;

            input {
                width: 300px;

                @media screen and (max-width:480px) {
                    width: 100%;
                }
            }
        }

        input {
            padding: 8px 12px;
            font-size: 16px;
            border-radius: 8px;
            outline: none;
            border: 1px solid #D3D3D3;
        }

        textarea {
            height: 102px;
            font-size: 18px;
            padding: 8px 12px;
            border-radius: 8px;
            border: 1px solid #D3D3D3;
            outline: none;

        }

        button {
            background-color: #1C1C1C;
            width: 100%;
            padding: 8px 0;
            border: 1px solid #D3D3D3;
            cursor: pointer;
            border-radius: 8px;
            margin-bottom: 32px;
            font-size: 16px;
            color: #F5FFFA;
        }
    }
}